.about {
  padding-bottom: 100px;
  background-color: $color-whisper;

  @media (max-width: 1023px) {
    padding-bottom: 80px;
  }
}

.about__wrapper {
  display: grid;
  grid-template-columns: 152px auto;
  gap: 98px;

  @media (max-width: 1023px) {
    gap: 25px;
  }

  @media (max-width: 767px) {
    grid-template-columns: 1fr;
  }
}

.about__wrapper img {

  @media (max-width: 767px) {
    display: none;
  }
}

.about__wrapper h1{
  font-family: $ff-heading-font;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
}

.about__wrapper p{
  margin: 0;
  padding: 0;
  font-family: $ff-content-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 20px;
}

.about__description {
  padding-bottom: 18px;

  @media (max-width: 1023px) {
    padding-bottom: 0;
    margin-bottom: -10px;
  }
}

.about__wrapper a {
  border: none;
  cursor: pointer;
  border-radius: 3px;
  padding: 0;

  font-family: $ff-heading-font;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  border: 1px solid $color-deep-sky-blue;
  padding: 14px;
  color: $color-deep-sky-blue;
  width: 180px;
  display: block;
  text-align: center;
}

