.advantages {
  padding: 120px 0;
  background-color: #f9fdff;
  width: 100%;

  @media (max-width: 1023px) {
    padding: 80px 0 76px;
  }

  @media (max-width: 767px) {
    padding: 50px 0 21px;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;

  @media (max-width: 1023px) {
    padding: 0 10px 0 27px;
  }

  @media (max-width: 767px) {
    padding: 0;
    margin-left: 9px;
    grid-template-columns: 1fr;
    column-gap: unset;
  }
}

.advantages__item {
  background-color: transparent;
  padding: 40px 40px 35px 40px;
  border: 1px solid $color-whisper-opacity;
  border-left: 5px solid $color-deep-sky-blue;
  min-height: 300px;

  @media (max-width: 1023px) {
    padding-right: 30px;
    padding-bottom: 28px;
    padding-left: 39px;
    width: 100%;
    min-height: 360px;
  }

  @media (max-width: 767px) {
    padding: 29px 35px 35px 25px;
    width: 100%;
    min-height: 340px;
  }
}

.advantages__item--shot {
  @media (max-width: 767px) {
    min-height: 325px;
    padding-right: 40px;
  }
}

.advantages__item:hover {
  background-color: $color-deep-sky-blue;
}

.advantages__image {
  margin-bottom: 15px;

  @media (max-width: 1023px) {
    margin-bottom: 8px;
  }

  @media (max-width: 767px) {
    margin-bottom: 7px;
    height: 30px;
    width: 30px;
  }
}

.advantages__image > use {
  fill: $color-deep-sky-blue;
}

.advantages__item:hover svg use {
  fill: $color-alice-blue;
}

.advantages__item h3 {
  font-family: $ff-heading-font;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: $color-deep-sky-blue;
  margin: 0;
  padding: 0;
  margin-bottom: 12px;

  @media (max-width: 1023px) {
    margin-bottom: 8px;
  }

  @media (max-width: 767px) {
    margin-bottom: 6px;
    font-size: 20px;
  }
}

.advantages__item:hover h3 {
  color: $color-alice-blue;
}

.advantages__item p {
  font-family: $ff-content-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-black-pearl;
  margin: 0;
  padding: 0;

  @media (max-width: 767px) {
    font-size: 14px;
    line-height: 19px;
  }
}

.advantages__item:hover p {
  color: $color-alice-blue;
}
