// .btn {
//   display: inline-flex;
//   padding: 10px 20px;

//   color: $color-default-white;

//   background-color: $color-neon-blue;
//   border: none;
//   cursor: pointer;

//   transition: opacity $trans-default;

//   &--red {
//     background-color: $color-torch-red;
//   }

//   &:disabled {
//     opacity: 0.5;

//     pointer-events: none;
//   }

//   @include hover-focus {
//     opacity: 0.8;
//   }
// }

.btn {
  border: none;
  cursor: pointer;
  border-radius: 3px;
  padding: 0;

  font-family: $ff-heading-font;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  user-select: none;
}

.btn:hover {
  opacity: 0.6;
}
