.footer {
  background-color: $color-black-pearl;
  padding: 51px 0 55px;
  color: $color-alice-blue;

  @include vp-1023 {
    padding-top: 49px;
  }

  @include vp-767 {

  }
}

.footer__content {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;

  @media (max-width: 1023px) {
    flex-wrap: wrap;
  }
}

.footer__company {

  @media (max-width: 1023px) {
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 9px;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  @media (max-width: 767px) {
    flex-direction: column;
  }
}

// логотип
.footer__logo {
  margin-bottom: 30px;

  @media (max-width: 1023px) {
    margin-bottom: 0;
  }
}

.footer__logo-description {
  @media (max-width: 767px) {
    display: block;
  }
}

.footer-section {

  @media (max-width: 1023px) {
    width: 50%;
    padding-top: 21px;
  }

  @media (max-width: 767px) {
    border-bottom: 1px solid rgba(248, 253, 255, 0.7);
  }
}

.footer-section--menu {
  padding-left: 140px;

  @media (max-width: 1023px) {
    padding-left: 10px;
    max-width: 258px;
  }
}

.footer-section--office {
  max-width: 346px;

  @media (max-width: 1023px) {
    margin-right: -15px;
  }
}

.footer-section__title {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  margin-top: 6px;
  font-family: $ff-heading-font;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  text-transform: uppercase;

  @media (max-width: 767px) {
    margin-top: 20px;
  }
}

.footer__social {
  padding-left: 4px;
}

.footer-section__menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;

  @media (max-width: 1023px) {
    grid-template-columns: 1fr;
  }

  @media (max-width: 767px) {
    display: none;
  }
}

.footer-section__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: $color-alice-blue;

  @media (max-width: 767px) {
    display: none;
  }
}

.footer-section__item {
  margin-bottom: 6px;
}

.footer-section__link {
  font-family: $ff-content-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-alice-blue;
}

.footer-wrapper .container,
.sections .container {
  padding: 0;
  margin: 0;

  @include vp-767 {
    padding: 0 16px;
  }
}
