.header {
  width: 100%;
  position: fixed;
  background: linear-gradient(180deg, #041827 84.9%, rgba(4, 24, 39, 0) 100%);
  z-index: 9999;
}

.header-container {
  padding: 30px 50px 35px 55px;
  margin-left: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1330px;
  margin: 0 auto;
  width: 100%;

  @include vp-1023 {
    padding: 20px 24px 15px;
  }

  @include vp-767 {
    padding: 15px 16px 20px;
  }
}

//стилизация логотипа и слогана
.logo {
  height: 55px;
  display: flex;
  align-items: center;
  margin-right: 30px;

  @media (max-width: 767px) {
    width: unset;
  }
}

.logo__image {
  max-width: 55px;
  max-height: 55px;
  flex: 0 0 auto;

  @media (max-width: 767px) {
    max-width: 35px;
    max-height: 35px;
  }
}

.logo__description {
  padding-left: 15px;

  @media (max-width: 767px) {
    display: none;
  }
}

.logo__name {
  font-family: $ff-heading-font;
  font-weight: 700;
  font-size: 25px;
  color: $color-alice-blue;
  white-space: nowrap;
}

.logo__slogan {
  font-family: $ff-heading-font;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.8px;
  color: rgba(255, 255, 255, 0.7);
}

// стилизация контактов
.header-contacts {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 25px 0 0;
  margin: 0;
  list-style-type: none;

  @media (max-width: 1023px) {
    width: 100px;
    margin-right: 50px;
    justify-content: space-between;
  }
}

.header-contacts__item {
  padding: 10px;
}

.header-contacts__item + .header-contacts__item {
  margin-left: 100px;
}

.header-contacts__item-first {

}

.header-contacts__link {
  max-width: 225px;
  display: flex;
  align-items: center;
}

.header-contacts__icon {
  margin-right: 15px;

  @media (max-width: 1023px) {
    margin: 0;
  }
}

.header-contacts__description {
  color: $color-alice-blue;

  font-family: $ff-content-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;

  @media (max-width: 1023px) {
    display: none;
  }
}

// силизация кнопок
.header-button {
  font-size: 14px;
  line-height: 16px;
  min-width: 160px;
  color: $color-alice-blue;
  padding: 10px 15px;
  background-color: transparent;
  border: 1px solid $color-alice-blue;
  margin-right: 66px;

  @media (max-width: 1023px) {
    display: none;
  }
}



