.header {
  width: 100%;
  position: fixed;
  background: linear-gradient(180deg, #041827 84.9%, rgba(4, 24, 39, 0) 100%);
  z-index: 9999;

  @include vp-1023 {
    position: absolute;
  }
}

.header-container {
  padding: 30px 42px 35px 55px;
  display: flex;
  justify-content: space-between;
  max-width: 1330px;
  margin: 0 auto;
  width: 100%;
  align-items: start;

  @include vp-1023 {
    padding: 20px 24px 15px 49px;
  }

  @include vp-767 {
    padding: 5px 26px 20px;
    justify-content: unset;
  }
}

//стилизация логотипа и слогана
.logo {
  height: 55px;
  display: flex;
  align-items: center;
  margin-right: 25px;

  @media (max-width: 767px) {
    width: unset;
    margin-right: auto;
  }
}

.logo__full {
  flex: 0 0 auto;

  @media (max-width: 767px) {
    display: none;
  }
}

.logo__shot {
  flex: 0 0 auto;
  display: none;

  @media (max-width: 767px) {
    display: block;
  }
}

// стилизация контактов
.header-contacts {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
  width: 512px;
  justify-content: space-between;
  margin-top: 13px;

  @media (max-width: 1023px) {
    margin-top: 9px;
    margin-right: 17px;
    justify-content: flex-start;
    width: unset;
  }

  @media (max-width: 767px) {
    margin-right: 0;
    margin-top: 14px;
  }
}

.header-contacts__item {
  padding: 10px;
  padding-top: 0;

  @media (max-width: 767px) {
    padding: 0;
  }
}

.header-contacts__item + .header-contacts__item {
  margin-right: 30px;

  @media (max-width: 1023px) {
    margin-left: 18px;
  }

  @media (max-width: 767px) {
    margin-left: 39px;
    margin-right: 20px;
  }
}

.header-contacts__link {
  max-width: 225px;
  display: flex;
  align-items: center;
}

.header-contacts__icon {
  margin-right: 15px;

  @media (max-width: 1023px) {
    margin: 0;
  }
}

.header-contacts__description {
  color: $color-alice-blue;

  font-family: $ff-content-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;

  @media (max-width: 1023px) {
    display: none;
  }
}

// силизация кнопок
.header-button {
  font-size: 14px;
  line-height: 16px;
  min-width: 160px;
  color: $color-alice-blue;
  padding: 11px 15px;
  margin-top: 5px;
  background-color: transparent;
  border: 1px solid $color-alice-blue;
  margin-right: 72px;

  @media (max-width: 1023px) {
    display: none;
  }
}
