.modal {
  position: fixed;
  top: -96px;
  right: 16px;
  bottom: 0;
  left: 0;
  z-index: 100000;

  display: flex;
  flex-direction: column;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  background-color: rgba($color-default-black, 0.8);
  transform: scale(1.2);
  visibility: hidden;
  opacity: 0;

  transition: opacity $trans-modal,
    transform $trans-modal,
    visibility $trans-modal;

  pointer-events: none;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &__wrapper {
    position: relative;

    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    padding: 60px 40px;

    @include vp-767 {
      padding: 60px 16px;
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    cursor: pointer;
  }

  &__content {
    position: relative;

    width: 500px;
    padding: 39px 40px 42px;

    background-color: #00b3ff;
    border-radius: 3px;

    @include vp-767 {
      width: 100%;
      padding: 20px;
    }
  }

  &__close-btn {
    position: absolute;
    top: 19px;
    right: 17px;
    z-index: 1;

    width: 40px;
    height: 40px;
    padding: 0;

    background: $color-transparent;
    border: none;
    cursor: pointer;
  }

  &--responsive {
    .modal__content {
      width: 100%;
    }
  }

  &--fit-content {
    .modal__content {
      width: auto;

      @include vp-767 {
        width: 100%;
      }
    }
  }

  &--no-scale {
    transform: none;
  }

  &--preload {
    transition: none;
  }

  &.is-active {
    transform: scale(1);
    visibility: visible;
    opacity: 1;

    pointer-events: auto;
  }
}

.modal__content h2 {
  font-family: $ff-heading-font;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 42px;
  color: $color-default-white;
  margin: 0;
  padding: 0;
  margin-bottom: 4px;
}

.modal__content p {
  font-family: $ff-content-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;
  margin: 0;
  padding: 0;
  margin-bottom: 36px;
  max-width: 380px;
}

// стилизация формы
.modal-form__name label,
.modal-form__phone label,
.modal-form__textarea label {
  display: none;
}

.modal-form__name input,
.modal-form__phone input {
  margin-bottom: 20px;
  height: 50px;
}

.modal-form__name input,
.modal-form__phone input,
.modal-form__textarea textarea {
  border: none;
  outline: none;
  background-color: rgba(4, 20, 39, 0.15);
  border-radius: 3px;
  padding: 15px;
  width: 100%;

  font-family: $ff-content-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  color: $color-default-white;
}

.modal-form__name input:hover,
.modal-form__phone input:hover,
.modal-form__textarea textarea:hover,
.modal-form__name input:focus,
.modal-form__phone input:focus,
.modal-form__textarea textarea:focus {
  background-color: rgba(4, 20, 39, 0.3);
}

.modal-form__name input::-webkit-input-placeholder,
.modal-form__phone input::-webkit-input-placeholder,
.modal-form__textarea textarea::-webkit-input-placeholder {
  color: $color-default-white;
}

.modal-form__textarea textarea {
  padding-top: 22px;
  margin-bottom: 20px;
  min-height: 155px;
}

.modal-form__submit {
  display: flex;
  flex-direction: column;
}

.modal-form__button input {
  border: none;
  cursor: pointer;
  border-radius: 3px;

  font-family: $ff-heading-font;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  padding: 0 25px;
  height: 45px;
  background-color: #041427;
  color: $color-default-white;
  min-width: 100%;
  margin-bottom: 20px;
}

.modal-form__checkbox input[type="checkbox"] {
  appearance: none;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-form__checkbox label {
  font-family: $ff-content-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $color-default-white;
  opacity: 0.8;
  cursor: pointer;
  position: relative;
}

.modal-form__checkbox span::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 8px;
  display: block;
  width: 15px;
  height: 15px;
  background-color: transparent;
  border-radius: 2px;
  border: 1px solid $color-default-white;
}

.modal-form__checkbox span {
  position: relative;
  display: block;
  padding-left: 33px;
}

.modal-form__checkbox:hover span::before {
  background-color: rgba(4, 20, 39, 0.3);
  border: 1px solid rgba(4, 20, 39, 0.3);
}

.modal-form__checkbox label input[type="checkbox"]:focus + span::before {
  background-color: rgba(4, 20, 39, 0.3);
  border: 1px solid rgba(4, 20, 39, 0.3);
}

.modal-form__checkbox span::after {
  content: " ";
  position: absolute;
  top: 2px;
  left: 10px;
  transform: translateY(80%);
  display: none;
  width: 8px;
  height: 6px;
  background-image: url("../img/svg/icon-checked.svg");
  background-repeat: no-repeat;
}

.modal-form__checkbox label input[type="checkbox"]:checked + span::after {
  display: block;
}

.modal__close-btn:hover {
  background-color: rgba(4, 20, 39, 0.3);
}
