.popup{
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba($color-default-black, 0.8);
}

.popup__form-wrapper {

  background-color: #00B3FF;
  padding: 40px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.popup__title {
  font-family: $ff-heading-font;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 42px;
  color: $color-default-white;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}

.popup__description {
  font-family: $ff-content-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

// стилизация формы


.popup-form__name,
.popup-form__phone,
.popup-form__textarea {
  display: flex;
  flex-direction: column;
}

.popup-form__name label,
.popup-form__phone label,
.popup-form__textarea label {
  display: none;
}

.popup-form__name input,
.popup-form__phone input {
  margin-bottom: 20px;
}

.popup-form__name input,
.popup-form__phone input,
.popup-form__textarea textarea {
  border: none;
  outline: none;
  background-color: rgba(4, 20, 39, 0.15);
  border-radius: 3px;
  padding: 15px;

  font-family: $ff-content-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  color: $color-default-white;
}

.popup-form__name input::-webkit-input-placeholder,
.popup-form__phone input::-webkit-input-placeholder,
.popup-form__textarea textarea::-webkit-input-placeholder {
  color: $color-default-white;
}

.popup-form__textarea textarea {
  padding-top: 25px;
  margin-bottom: 25px;
  width: 100%;
  min-height: 155px;
}

.popup-form__submit {
  display: flex;
  flex-direction: column;
}

.popup-form__button button {
  border: none;
  cursor: pointer;
  border-radius: 3px;
  padding: 0;

  font-family: $ff-heading-font;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  padding: 15px 25px;
  background-color: #041427;
  color: $color-default-white;
  min-width: 100%;
  margin-bottom: 20px;
}

.popup-form__checkbox input[type="checkbox"] {
  appearance: none;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.popup-form__checkbox label {
  font-family: $ff-content-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $color-default-white;
  opacity: 0.8;
  cursor: pointer;
  position: relative;
}

.popup-form__checkbox label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 15px;
  height: 15px;
  background-color: transparent;
  border-radius: 2px;
  border: 1px solid $color-default-white;
}
.popup-form__checkbox span {
  position: relative;
  display: block;
  padding-left: 25px;
}
.popup-form__checkbox span::after {
  content: "";
  position: absolute;
  top: 0;
  left: 3px;
  transform: translateY(80%);
  display: none;
  width: 8px;
  height: 6px;
  background-image: url("/img/svg/icon-checked.svg");
  background-repeat: no-repeat;
}

.popup-form__checkbox label input[type=checkbox]:checked + span::after {
  display: block;
}
