.services {
  background-color: $color-black-pearl;
  padding-top: 66px;
  padding-bottom: 90px;

  @media (max-width: 1023px) {
    padding-top: 56px;
    padding-bottom: 25px;
  }

  @media (max-width: 767px) {
    padding-top: 47px;
    padding-bottom: 37px;
  }
}

.services__title {
  font-family: $ff-heading-font;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  letter-spacing: -0.005em;
  color: $color-default-white;
  margin: 0;
  padding: 0;

  @media (max-width: 1023px) {
    padding-left: 28px;
  }

  @media (max-width: 767px) {
    font-size: 28px;
    line-height: 39px;
    padding-left: 9px;
    max-width: 264px;
  }
}

.services__title-desktop {

  @media (max-width: 767px) {
    display: none;
  }
}

.services__title-mobile {
  display: none;

  @media (max-width: 767px) {
    display: block;
  }
}

.services-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding: 53px 0 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 85px;

  @media (max-width: 1023px) {
    grid-template-columns: 1fr;
    gap: 30px;
    padding-top:38px;
    padding-left: 26px;
  }

  @media (max-width: 767px) {
    padding-top: 28px;
    padding-left: 9px;
  }
}

.services-item {
  background-image: url('../../img/promo-background-desktop.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 650px;
  position: relative;

  @media (max-width: 1023px) {
    grid-template-columns: 1fr;
    width: 670px;
    min-height: 250px;
  }

  @media (max-width: 767px) {
    grid-template-columns: 1fr;
    width: 270px;
    height: 250px;
  }
}

.services-item-one {
  background-position: 16% 0;

  @media (max-width: 1023px) {
    background-position: center;
  }
}

.services-item-two {
  background-position: 46% 0;

  @media (max-width: 1023px) {
    background-position: 23% 0;
  }
}

.services-item-three {
  background-position: 79% 0;

  @media (max-width: 1023px) {
    background-position: 84% 0;
  }
}

.services__item-title {
  font-family: $ff-heading-font;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  padding-left: 40px;
  color: $color-default-white;
  max-width: 212px;
  position: absolute;

  @media (max-width: 1023px) {
    padding-top: 38px;
    padding-left: 45px;
    max-width: 195px;
  }

  @media (max-width: 767px) {
    padding-top: 28px;
    padding-left: 30px;
    font-size: 18px;
    max-width: 162px;
  }
}

.services__item-link::before {
  content: '';
  position: absolute;
  width: 60px;
  height: 60px;
  background: $color-deep-sky-blue;
  border-radius: 3px 0px 0px 0px;
  z-index: 5;
  bottom: 0;
  right: 0;

  @media (max-width: 767px) {
    width: 40px;
    height: 40px;
  }
}

.services__item-link svg {
  position: absolute;
  z-index: 10;
  bottom: 25px;
  right: 25px;
}
