.services {
  background-color: $color-black-pearl;
  padding-top: 66px;
  padding-bottom: 90px;

  @media (max-width: 1023px) {
    padding-top: 56px;
    padding-bottom: 25px;
  }

  @media (max-width: 767px) {
    padding-top: 47px;
    padding-bottom: 37px;
  }
}

.services h2 {
  font-family: $ff-heading-font;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $color-default-white;
  margin: 0;
  padding: 0;

  @media (max-width: 1023px) {
    padding-left: 28px;
    max-width: 710px;
  }

  @media (max-width: 767px) {
    font-size: 28px;
    line-height: 39px;
    padding-left: 9px;
    max-width: 264px;
  }
}

.services__title-desktop {
  @media (max-width: 767px) {
    display: none;
  }
}

.services__title-mobile {
  display: none;

  @media (max-width: 767px) {
    display: block;
  }
}

.services-list {
  margin: 0;
  list-style-type: none;
  padding: 53px 0 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 85px;
  margin-right: 15px;

  @media (max-width: 1023px) {
    grid-template-columns: 1fr;
    gap: 30px;
    padding-top: 38px;
    padding-left: 26px;
    padding-right: 10px;
  }

  @media (max-width: 767px) {
    padding-top: 28px;
    padding-left: 9px;
    padding-right: 0;
    margin-right: 8px;
  }
}

.services-item {
  display: block;
  background-color: $color-black-pearl;
  background-image: url("../img/promo-background-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 650px;
  position: relative;

  @media (max-width: 1023px) {
    background-image: unset;
    grid-template-columns: 1fr;
    width: 100%;
    min-height: 250px;
  }

  @media (max-width: 767px) {
    grid-template-columns: 1fr;
    width: 100%;
    height: 250px;
  }
}

.services-item:hover {
  border: 1px solid #2c39f2;
}

.services-item-one {
  background-image: url("../img/images-cards/card-background-1-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @media only screen and (min-resolution: 1.5),
    only screen and (min-resolution: 144dpi) {
    background-image: url("../img/images-cards/card-background-1-desktop@2x.jpg");
  }

  @media (max-width: 1023px) {
    background-image: url("../img/images-cards/card-background-1-tablet.jpg");

    @media only screen and (min-resolution: 1.5),
      only screen and (min-resolution: 144dpi) {
      background-image: url("../img/images-cards/card-background-1-tablet@2x.jpg");
    }
  }

  @media (max-width: 767px) {
    background-image: url("../img/images-cards/card-background-1-mobile.jpg");

    @media only screen and (min-resolution: 1.5),
      only screen and (min-resolution: 144dpi) {
      background-image: url("../img/images-cards/card-background-1-mobile@2x.jpg");
    }
  }
}

.services-item-two {
  background-image: url("../img/images-cards/card-background-2-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @media only screen and (min-resolution: 1.5),
    only screen and (min-resolution: 144dpi) {
    background-image: url("../img/images-cards/card-background-2-desktop@2x.jpg");
  }

  @media (max-width: 1023px) {
    background-image: url("../img/images-cards/card-background-2-tablet.jpg");

    @media only screen and (min-resolution: 1.5),
      only screen and (min-resolution: 144dpi) {
      background-image: url("../img/images-cards/card-background-2-tablet@2x.jpg");
    }
  }

  @media (max-width: 767px) {
    background-image: url("../img/images-cards/card-background-2-mobile.jpg");

    @media only screen and (min-resolution: 1.5),
      only screen and (min-resolution: 144dpi) {
      background-image: url("../img/images-cards/card-background-2-mobile@2x.jpg");
    }
  }
}

.services-item-three {
  background-image: url("../img/images-cards/card-background-3-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @media only screen and (min-resolution: 1.5),
    only screen and (min-resolution: 144dpi) {
    background-image: url("../img/images-cards/card-background-3-desktop@2x.jpg");
  }

  @media (max-width: 1023px) {
    background-image: url("../img/images-cards/card-background-3-tablet.jpg");

    @media only screen and (min-resolution: 1.5),
      only screen and (min-resolution: 144dpi) {
      background-image: url("../img/images-cards/card-background-3-tablet@2x.jpg");
    }
  }

  @media (max-width: 767px) {
    background-image: url("../img/images-cards/card-background-3-mobile.jpg");

    @media only screen and (min-resolution: 1.5),
      only screen and (min-resolution: 144dpi) {
      background-image: url("../img/images-cards/card-background-3-mobile@2x.jpg");
    }
  }
}

.services-item h3 {
  font-family: $ff-heading-font;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  padding-top: 45px;
  padding-left: 40px;
  color: $color-default-white;
  max-width: 212px;
  position: absolute;

  @media (max-width: 1023px) {
    padding-top: 36px;
    padding-left: 45px;
    max-width: 195px;
  }

  @media (max-width: 767px) {
    padding-top: 26px;
    padding-left: 30px;
    font-size: 18px;
    max-width: 166px;
  }
}

.services-item::before {
  content: " ";
  position: absolute;
  width: 60px;
  height: 60px;
  background: $color-deep-sky-blue;
  border-radius: 3px 0 0 0;
  z-index: 5;
  bottom: 0;
  right: 0;

  @media (max-width: 767px) {
    width: 40px;
    height: 40px;
  }
}

.services-item svg {
  position: absolute;
  z-index: 10;
  bottom: 25px;
  right: 25px;

  @media (max-width: 767px) {
    bottom: 15px;
    right: 15px;
  }
}
