.social-networks {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-left: 31px;
  flex-wrap: wrap;

  @media (max-width: 1023px) {
    margin-right: 7px;
  }

  @media (max-width: 767px) {
    margin: 0;
    margin-bottom: 19px;
  }
}

.social-networks__item {
  margin-right: 22px;
  @media (max-width: 1023px) {
    margin-right: 0;
    margin-left: 20px;
  }
  @media (max-width: 767px) {
    margin-right: 11px;
    margin-left: 11px;
  }
}
